.headerDetail {
    width: 971px;
    height: 223px;
    margin-top: 70px;
    padding-left: 100px;
}

.headerDetail .courseDetail {
    color: yellow;
    font-size: 16px;
}

.headerDetail .titleDetail {
    font-size: 49px;
    margin-top: 20px;
}

.headerDetail .hasilDetail {
    font-size: 16px;
    color: #d5d5d5;
    margin-top: 20px;
}
.bungkusVid .feature-course {
}
.bungkusVid .feature-course h1 {
    color: yellow;
}
