.checkout-confirm {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 5rem;
    color: #000;
    padding-top: 4rem;
}

.checkout-confirm h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.checkout-confirm-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 4rem;
}

.checkout-confirm-form .input-grup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-grup label {
    font-size: 2.4rem;
    font-weight: 400;
}

.input-grup input {
}

.input-grup .form-control {
    font-size: 1.6rem;
}