body{
    background-color: #2B2B2B
}
.course-header {
    height: calc(100vh - 8.5rem);
    background-size: cover;
    padding: 2rem 9rem;
    display: grid;
    grid-template-columns: 50%;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    align-items: center;
}

.course-header h2 {
    font-size: 16px;
    font-weight: 600;
    color: #ebff00;
}

.course-header h1 {
    font-size: 49px;
    font-weight: 600;
}

.course-header p {
    font-size: 16px;
    font-weight: 400;
    color: #848484;
}

.course-container {
    padding: 2rem 9rem 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 5rem;
    margin-top: -6rem;
}

.course-input-box {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-gap: 5px;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 1%);
}

.course-input {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 500;
}

.course-input::placeholder {
    opacity: .7;
}

.course-box {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: min-content;
    grid-gap: 6rem;
}

.course-sideFilter {
    align-self: start;
    position: sticky;
    top: 4rem;
}

.course-sort,
.course-type {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: min-content;
    grid-gap: 1.5rem;
}

.course-type {
    margin-top: 2rem;
}

.course-sideFilter h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #ebff00;
}

.course-sideFilter .form-check {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.course-sideFilter .form-check-input {
    width: 2rem;
    height: 2rem;
}

.course-sideFilter .form-check-label {
    font-size: 2rem;
    font-weight: 400;
    color: #939393;
}

.course__card-link {
    text-decoration: none;
}

.course-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 6rem;
}

.header__title-course {
    font-size: 7rem;
}

.header__box-course {
    margin-top: 0;
}

.header__course-preview {
    transform: translateY(0);
    justify-self: center;
}

.course-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 8rem;
    padding: 5rem 9rem;
    margin-top: -24rem;
}

.course-detail-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 4rem;
}

.course-detail-subtle {
    justify-self: start;
    font-size: 2.4rem;
    font-weight: 500;
    color: #7AA60B;
    border-bottom: 2px dashed #7AA60B;
    padding-bottom: 5px;
}

.course-detail-title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #000;
}

.course-detail-desc {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 3rem;
}

.course-detail-desc img {
    width: 100%;
    object-fit: cover;
}

.course-detail-desc p {
    font-size: 2.4rem;
    font-weight: 400;
    text-align: justify;
    color: #627C7E;
}

.course-detail-feature {
    width: 391px;
    height: 460px;
    align-self: start;
    /* position: sticky;
    top: 0; */
    border: 3px solid white;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
}

.course-detail-feature h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.course-detail-feature > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-detail-feature > div:not(:last-of-type) {
    padding-bottom: 2rem;
    border-bottom: 2px solid#DFE4F7;
}

.course-detail-feature span {
    margin: 0 30px;
    font-size: 1.6rem;
    font-weight: 500;
}

.course-detail-feature .course-detail-price {
    font-size: 1.8rem;
    font-weight: 600;
}

.course-relate {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 5rem 9rem 7rem;
}

.course-relate-title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #000;
}

.course-relate-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 5rem;
}

.course-relate-link {
    text-decoration: none;
    color: #fff;
}

.course-relate-link:hover {
    color: #fff;
}

.course-relate-link:hover .course-relate-card .course-relate-img {
    transform: scale(1.1);
}

.course-relate-card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    overflow: hidden
}

.course-relate-img,
.course-relate-desc {
    grid-column: 1/2;
    grid-row: 1/2;
}

.course-relate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.course-relate-desc {
    align-self: end;
    padding: 2rem 4rem;
    background-image: linear-gradient(180deg, #374B05 0%, rgba(55, 75, 5, 0) 0.01%, rgba(55, 75, 5, 0.9) 100%);
    z-index: 2;
}

.course-relate-desc h1 {
    font-size: 3.4rem;
    font-weight: 700;
}

.course-relate-desc p {
    font-size: 2rem;
    font-weight: 500;
}